<h1>Listing restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Addr</th>
      <th>Genre</th>
      <th>Mon</th>
      <th>Tsu</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th>Viking</th>
      <th>Parking</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.addr %></td>
        <td><%= restaurant.genre %></td>
        <td><%= restaurant.mon %></td>
        <td><%= restaurant.tsu %></td>
        <td><%= restaurant.wed %></td>
        <td><%= restaurant.thu %></td>
        <td><%= restaurant.fri %></td>
        <td><%= restaurant.sat %></td>
        <td><%= restaurant.sun %></td>
        <td><%= restaurant.viking %></td>
        <td><%= restaurant.parking %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
