<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @restaurant.addr %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @restaurant.genre %>
</p>

<p>
  <strong>Mon:</strong>
  <%= @restaurant.mon %>
</p>

<p>
  <strong>Tsu:</strong>
  <%= @restaurant.tsu %>
</p>

<p>
  <strong>Wed:</strong>
  <%= @restaurant.wed %>
</p>

<p>
  <strong>Thu:</strong>
  <%= @restaurant.thu %>
</p>

<p>
  <strong>Fri:</strong>
  <%= @restaurant.fri %>
</p>

<p>
  <strong>Sat:</strong>
  <%= @restaurant.sat %>
</p>

<p>
  <strong>Sun:</strong>
  <%= @restaurant.sun %>
</p>

<p>
  <strong>Viking:</strong>
  <%= @restaurant.viking %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @restaurant.parking %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
